{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Form Barang</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Barang masuk</li>
            </ol>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Data Barang Masuk </h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <td>Nomor</td>
                        <th>Kode Barang</th>
                        <th>Nama Barang</th>
                        <th>Total Barang</th>
                        <th>Harga Barang</th>
                        <th>Status Barang</th>
                        <th class="text-justify">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- {% for i in rowdata: %}
                        {% if i < 7: %}
                          <p>{{ i }}</p>
                        {% endif%}
                      {% endfor %} -->

                      {% for row in data %}
                      {% set barang_id = row.0 %}
                      {% set barang_desc = row.1 %}
                      {% set barang_total = row.2 %}
                      {% set barang_price = row.3 %}
                      {% set barang_status = row.4 %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{barang_id}}</td>
                        <td>{{barang_desc}}</td>
                        <td>{{barang_total}}</td>
                        <td>{{barang_price}}</td>
                        <td>{{barang_status}}</td>
                        <td class="project-actions">
                          <!-- <a class="btn btn-primary btn-sm" id="{{barang_id}}" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a> -->
                          <a class="btn btn-info btn-sm" href="/editbarang/{{barang_id}}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" id="{{barang_id}}" data-toggle="modal" data-target="#modal-default" href="#" onclick="Dialog('{{barang_id}}')">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                      </tr>
                      <!-- /.modal -->
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Simpan perubahan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin ingin menghapus data <b id="barang_id"></b> ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <a href="" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="DeleteData()">Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
  function Dialog(id){
    var barang_id = id
    document.getElementById("barang_id").innerHTML = id;
    document.getElementById("barang_id").value = id;
  }

  function DeleteData(){
    var test = document.getElementById("barang_id").value
    var url = "/deletebarang/"+test
    location.href = url;
  }
</script>

{% include 'footer.html' %}