{% include 'header.html' %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Form Barang</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Barang masuk</li>
            </ol>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">

        <!-- Disini -->
        <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            
            <!-- Horizontal Form -->
            <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/inputbarangproses" class="form-horizontal" method="POST">
                <div class="card-body">
                <div class="form-group row">
                    <label for="idbarang" class="col-sm-2 col-form-label">Kode Barang</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="idbarang" name="idbarang" placeholder="LTP-01">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="namabarang" class="col-sm-2 col-form-label">Nama Barang</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="namabarang" name="namabarang" placeholder="Laptop Lenovo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="totalbarang" class="col-sm-2 col-form-label">Total Barang Masuk</label>
                    <div class="col-sm-10">
                    <input type="number" class="form-control" id="totalbarang" name="totalbarang" placeholder="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="hargabarang" class="col-sm-2 col-form-label">Harga Barang per Unit</label>
                    <div class="col-sm-10">
                    <input type="number" class="form-control" id="hargabarang" name="hargabarang" placeholder="Rp 10000000">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="userinputbarang" class="col-sm-2 col-form-label">User yang input barang</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="userinputbarang" name="userinputbarang" placeholder="Nugroho">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="statusbarang" class="col-sm-2 col-form-label">Status Barang</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" name="statusbarang" checked>
                        <label for="customCheckbox2" class="custom-control-label"> Aktif / Tidak aktif</label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                <!-- <button type="submit" class="btn btn-info">Submit</button> -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                    Simpan
                </button>
                <button type="submit" class="btn btn-danger float-right">Cancel</button>
                </div>
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Simpan Perubahan</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin ingin menyimpan data?</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- /.card-footer -->
            </form>
            </div>
            <!-- /.card -->

        </div>
        <!--/.col (right) -->
        </div>        
        <!-- /.Sampai sini -->
        
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% include 'footer.html' %}