
  <!-- /.content-wrapper -->
  <footer class="main-footer primary-steelteal">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-dark mb-4 text-white">Our Office</h5>
                <p class="mb-2 text-light"><i class="fa fa-map-marker-alt me-3"></i> Jl. Margonda Raya No.8, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</p>
                <p class="mb-2 text-light"><i class="fa fa-phone-alt me-3"></i> 021-5340288</p>
                <p class="mb-2 text-light"><i class="fa fa-envelope me-3"></i> info@indonesiakreatif.com</p>
                <div class="d-flex pt-3">
                    <a class="btn btn-square btn-primary rounded-circle me-2 primary-background" href="https://twitter.com/i/flow/login" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2 primary-background" href="https://id-id.facebook.com/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2 primary-background" href="https://www.youtube.com/" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2 primary-background" href="https://id.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-dark mb-4 ml-2 text-white">Quick Links</h5>
                <a class="btn btn-link text-light" href="#">About Us</a>
                <a class="btn btn-link text-light" href="#">Contact Us</a>
                <a class="btn btn-link text-light" href="#">Our Services</a>
                <a class="btn btn-link text-light" href="#">Terms & Condition</a>
                <a class="btn btn-link text-light" href="#">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4 text-light">Business Hours</h5>
                <p class="mb-1 text-light">Monday - Friday</p>
                <h6 class="text-light">09:00 am - 07:00 pm</h6>
                <p class="mb-1 text-light">Saturday</p>
                <h6 class="text-light">09:00 am - 12:00 pm</h6>
                <p class="mb-1 text-light">Sunday</p>
                <h6 class="text-light">Closed</h6>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4 text-light">Partnership</h5>
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/bsi.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/nusamandiri.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/nike.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/adidas.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/unilever.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/mayora.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/mandiri.png') }}" alt="maaf lag">
                <img width="50px" src="{{ url_for('static', filename='../../static/dist/img/bca.png') }}" alt="maaf lag">
            </div>
        </div>
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ url_for('static', filename='plugins/sparklines/sparkline.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', filename='plugins/jqvmap/jquery.vmap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ url_for('static', filename='plugins/jquery-knob/jquery.knob.min.js') }}"></script>
<!-- daterangepicker -->
<script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- Summernote -->
<script src="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ url_for('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/adminlte.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ url_for('static', filename='dist/js/pages/dashboard.js') }}"></script>

</body>
</html>